

:root {
    background-color: #eaebf7;
    color: #1b2d5f;

}
body {
    font-family: Arial, sans-serif;
    margin: 0px !important;
    color: #1b2d5f;

    
}
header{
    background-color: #c0c3f3;
    
}
.container-row{
    display: flex;
    justify-content: center; /*與主軸水平方向置中*/
}

.container-column{
    display: flex;
    flex-direction: column;
    align-items: center; /*與主軸垂直置中*/
    
}
.child{
    width: 70%;
}
h1{
    color: #1b2d5f;
    padding: 10px 0 10px 0 !important;
    margin: 0 !important;
}
h2{
    margin: 20px 0 5px 0 !important;
}

form {
    display: flex;
}

input {
    margin: 5px 10px 0 0 ;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ccc;
}

button {
    border-radius: 5px;
    border: 1px solid #597ad3;
    padding: 5px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition:  0.25s;
    margin-left: auto;
}

    button:hover, button:focus,
    button:focus-visible {
        border-color: #f1f1f1;
        background-color: #c0c3f3;
        color: #fff;
    }


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #f0f1fc;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #fff;
    }
}


table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    /* overflow: hidden; */
    margin: 5px 10px 0 0 ;
    text-overflow: ellipsis;
}

th, td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
    background-color: #ffffff;

    max-height: 100px;
    overflow-y: auto;

    white-space: normal; /* 讓文字換行 */
    word-wrap: break-word; /* 遇到長單詞換行 */
    word-break: break-all; /* 強制換行 */
    
}

th:nth-child(1), td:nth-child(1) {
    width: 30px; /* 第一列寬度設為 200px */
    text-align: center;
}
th:nth-child(5), td:nth-child(5) {
    width: 100px; /* 第一列寬度設為 200px */
    text-align: center;
}

